<%- include('includes/header')%>

<div class="container py-md-5">
<% errors.forEach(function(message){%>
  <div class="alert alert-danger text-center"><%=message%></div>
  <%})%>
  <div class="row align-items-center">
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
        <% regErrors.forEach(function(message){%>
          <div class="alert alert-danger small"><%=message%></div>
          <%})%>
      
        <%if (token==false){%>
          <form action="/forgotPassword" method="POST" id="registration-form" onsubmit="sendEmail()">
          <div class="form-group">
            <label for="email" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email" class="form-control" type="text" placeholder="email" onChange="checkEmail()">
          </div>
<%}%>
          <%if (token){%>
            <form action="/resetPassword" method="POST" id="registration-form">
            <p>Reset the password for account related to email address <%=email%></p>
          <div class="form-group">
            <label for="password" class="text-muted mb-1"><small>Password</small></label>
            <input name="password" id="password" class="form-control" type="password" placeholder="password" onChange="checkPasswordMatch()">
          </div>
          
          <div class="form-group">
            <label for="confirmPassword" class="text-muted mb-1"><small>confirm Password</small></label>
            <input name="confirmPassword" id="confirmPassword" class="form-control" type="password" placeholder="confirm password" onChange="checkPasswordMatch()">
          </div>
          <input type="hidden" name="token" value="<%=token%>"
       <% }%>
          <input type="hidden" name="_csrf" value="<%=  %>"/>
          <div class="PasswordReset" id="divCheckPasswordMatch">
          </div>
          
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Reset Password</button>
          
        </form>
      </div>
    </div>
  </div>
  <script>function checkPasswordMatch() {
    var password = $("#password").val();
    var confirmPassword = $("#confirmPassword").val();
    if (password != confirmPassword){
        $("#divCheckPasswordMatch").html("Passwords do not match!");
      }
    else{
        $("#divCheckPasswordMatch").html("Passwords match.");
}

  if (password.length > 0 && password.length < 8) {  $("#divCheckPasswordMatch").html("Passwords must be at least 8 characters") };
  if (password.length > 50) { $("#divCheckPasswordMatch").html("Password cannot exceed 50 characters.")};
  if (password == "") {  $("#divCheckPasswordMatch").html("You must provide a password.") };
    
}
function checkEmail(){
  var email= $("#email").val();
  
  if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
  {
    $("#divCheckPasswordMatch").html("<p> An email with your token will be sent to reset your password</p>");
  }
    else{
      $("#divCheckPasswordMatch").html("<p> That doesn't seem to be a valid email address</p>");
      
    }}
    function sendEmail(){
      $("#divCheckPasswordMatch").html("<p> An email with your token will be sent to "+$("#email").val()+" with instructions to reset your password</p>");
    }
</script>
<%- include('includes/footer')%>